﻿.menu {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333333;
}
        .menu li {
            float: right;
        }
        .menu li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }
        .menu li a:hover {
            background-color: #f4a742;
        }
        .left {
            display:inline;
            right:65%;
            top:60%;
            position:absolute;
            width:auto;
            height:auto;
        }
        .logo {
            width:620px;
            height:54px;
            float:left;
         }
        .right {
            display:inline;
            right:10%;
            top:60%;
            position:absolute;
            width:auto;
            height:auto;
        }
            
        .warning-message {
            color:red;
        }
        .validation-summary-errors {
            display:none;
        }
            
        .edit-button {
            background:yellow
        }
        .delete-button {
            background:red;
        }
        .create-button {
            background:green
        }
        .display-button {
            background:yellowgreen;
        }
        .btn {
            -webkit-appearance: button;
            -moz-appearance:    button;
            appearance:         button;
        }

        .menu .btn{
            background:black
        }
            
        .option-block ul {
            overflow: hidden;
            list-style-type: none;
            display:block;
            float:left;
        }
        .option-block {
            width:25%;
            height:auto;
            float:left;
            background-color: #333333;
        }
        .option-block li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }
        .option-block li a:hover {
            background-color:orange;
        }
            
        .view-block {
            width:74%;
            height:auto;
            float:right;
        }

            
        table {border:2px solid;}
        td {border:solid 1px;}
        div {border:1px solid;background-color:white;}
        body {color:black;}
