﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


    <link href="/Scripts/styles.css" rel="stylesheet" />
    <script src="/Scripts/script.js"></script>
        
</head>
<body onload="Init()">
    <label>Date:@DateTime.Now.ToString())</label>
    <nav>
        <ul class="menu">
            <li>@Html.ActionLink("LogOut","LogOut","Home",null,new{@class="btn"})</li>
            <li>@Html.ActionLink("Profile","Index","Home",null,new{@class="btn"})</li>
            <li>@Html.ActionLink("Appointments","Index","Appointment",null,new{@class="btn"})</li>
            <li>@Html.ActionLink("Home","Index","Home",null,new {@class="btn"})</li>        
            <li class="logo"><h3 style="color:orange;">RushHour</h3></li>
        
        </ul>
    </nav>

    <div class="option-block">
        <ul id="options">
        
        </ul>  
    </div>
    <div class="view-block">
	    @RenderBody()
        <input type="button" onclick="Togle()" value="Togle" class="btn user-option"/>
    </div>
</body>
</html>
