﻿@model Project.Models.ReplaceAppointment

@using(Html.BeginForm("Edit","Appointment",FormMethod.Post)){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "warning-message" })
    @Html.HiddenFor(m=>m.OldId)

    <div class='input-group date date-picker'>
        Start:@Html.TextBoxFor(m=>m.pair.Start,new{@class="form-control"})
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    @Html.ValidationMessageFor(model => model.pair.Start, "", new { @class = "warning-message" })
    
    <br>
    <div class='input-group date date-picker'>
    End:@Html.TextBoxFor(m=>m.pair.End,new{@class="form-control"})
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    @Html.ValidationMessageFor(model => model.pair.End, "", new { @class = "warning-message" })

    <table>
        <tr>
            <td>Add</td>
            <td>Name</td>
            <td>Duration</td>
            <td>Price</td>
        </tr>
        @for(int i=0;i<Model.selected.activity.Count();i++){
            <tr>
                <td>@Html.CheckBoxFor(m=>m.selected.selected[i])</td>
                <td>@Model.selected.activity[i].Name</td>
                <td>@Model.selected.activity[i].Duration</td>
                <td>@Model.selected.activity[i].Price</td>

                @Html.HiddenFor(m=>m.selected.selected[i])
                @Html.HiddenFor(m=>m.selected.activity[i].Name)
                @Html.HiddenFor(m=>m.selected.activity[i].Duration)
                @Html.HiddenFor(m=>m.selected.activity[i].Price)
                @Html.HiddenFor(m=>m.selected.activity[i].ID)
                
            </tr>
        }
    </table>

    <br>
    <input type="submit"/>
}

<script type="text/javascript">  
   $('.date-picker').datetimepicker();  
</script>