﻿@model System.Collections.Generic.List<Project.Models.SmartAppointment>
<script>
    var dataBank=@Html.Raw(Json.Encode(Model));
    var table_spec={
        paging: true,
        searching: true,
        stateSave:true,
        "pagingType": "numbers",
        "lengthMenu": [[2,5,10, 25, 50, -1], [2,5,10, 25, 50, "All"]],
        "pageLength": 5,
        data:dataBank,
        "columnDefs": [{
            "targets": 6,
            "visible": true,
            "data":null,
            "defaultContent":'@Html.ActionLink("Edit","EditAppointment","Appointment",null,new {@class="btn edit-button"})'
        },{
            "targets": 5,
            "visible": true,
            "data":null,
            "defaultContent":'@Html.ActionLink("Delete","DeleteAppointment","Appointment",null,new {@class="btn delete-button"})'
        },{
            "targets": 1,
            "visible": false,
            "data":"ID",
        }],
        columns:[
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            },
            {data:"ID"},
            {data:"UserId",title:"Creator Id"},
            {data:"Start",title:"Start"},
            {data:"End",title:"End"}
        ]
    }
    var table={}

    function render(d) {
    // `d` is the original data object for the row
        var result="";
        for(e=0;e<d["activity"].length;e++){
            result+='<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
            '<tr>'+
                '<td>Name:</td>'+
                '<td>'+d["activity"][e]["Name"]+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Duration:</td>'+
                '<td>'+d["activity"][e]["Duration"]+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Prize:</td>'+
                '<td>'+d["activity"][e]["Price"]+'</td>'+
            '</tr>'
            '</table>';
        }
    }

    function displayData(){    
        table=$("#table").DataTable(table_spec);
        Init();

        $('#table tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
        // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        } else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }});
        $('#activities-table tbody').on( 'click', '.btn', function () {
            var data = table.row( $(this).parents('tr') ).data();
            this.href=(this.href+"?id="+data["ID"]);
        });
    }

    

    window.onload=displayData;
</script>

<br>
<h4>Appointments:</h4>
@Html.ActionLink("Create","CreateAppointment","Appointment",null,new{@class="btn create-button user-option"})
<div id="Appointments">
    <table id="table" border="3px"></table>
</div>