﻿@model Project.Models.SmartAppointment

<div class="appointment" id="@Model.ID" style="border:solid 2px;">
    <label>Creator:@Model.UserId</label>

    <br>
    <label>Start Time:@Model.Start.ToString()</label>

    <br>
    <label>End Time:@Model.End.ToString()</label>

    <br>
    @Html.ActionLink("Edit","Edit","Appointment",new{id=@Model.ID},new{@class="btn edit-button"})
    @Html.ActionLink("Delete","Delete","Appointment",new{id=@Model.ID},new{@class="btn delete-button"})
    <br>
    
    <table style="border:1px solid;">
        @for(int i=0;i<Model.activity.Count;i++){
            <tr>
                <td>@Model.activity[i].Name</td>
                <td>@Model.activity[i].Duration</td>
                <td>@Model.activity[i].Price</td>
            </tr>
        }
    </table>
</div>