﻿@model System.Collections.Generic.List<Project.Data.User>
<script src="/Scripts/script.js"></script>
<script>
    var dataBank=@Html.Raw(Json.Encode(Model));
    var table_spec={
        paging: true,
        searching: true,
        stateSave:true,
        "pagingType": "simple",
        "lengthMenu": [[2,5,10, 25, 50, -1], [2,5,10, 25, 50, "All"]],
        "pageLength": 5,
        data:dataBank,
        "columnDefs": [{
            "targets": 5,
            "visible": true,
            "data":null,
            "defaultContent":'@Html.ActionLink("Delete","DeleteUser","Home",null,new {@class="btn delete-button"})'
        },{
            "targets": 0,
            "visible": false,
            data:"ID"
        }],
        columns:[
            {data:"ID"},
            {data:"Name",title:"Name"},
            {data:"Email",title:"Email"},
            {data:"Phone",title:"Phone Number"},
            {data:"IsAdmin",title:"Is Admin"}
        ]
    }
    var table={}

    function displayData(){    
        table=$("#table").DataTable(table_spec);
        Init()
        $('#table tbody').on( 'click', '.btn', function () {
            var data = table.row( $(this).parents('tr') ).data();
            this.href=(this.href+"?id="+data["ID"]);
        });
    }

    window.onload=displayData;
</script>


<div>
    <h2>Other Users:</h2>@Html.ActionLink("Create","CreateUser","Admin",null,new{@class="btn create-button user-option btn"})
</div>

<table id="table" border="3px">

</table>
