﻿@model Project.Data.User

<div class="user-info">

    <h4>ID:@Model.ID</h4>
    <h4>User:@Model.Name</h4>
    <h4>Email:@Model.Email</h4>
    <h4>Phone:@Model.Phone</h4>
    <h4>Is Admin:@Model.IsAdmin.ToString()</h4>
</div>

@Html.ActionLink("Edit","AdminEdit","Admin",new{id=@Model.ID},new{@class="edit-button btn"})
@Html.ActionLink("Delete","DeleteUser","Home",new{id=@Model.ID},new{@class="delete-button btn"})
@Html.ActionLink("Appointments","Index","Appointment",null,new{@class="display-button btn"})
@Html.ActionLink("Activities","Index","Activity",null,new{@class="display-button user-option btn"})