﻿@model Project.Data.User

@using(Html.BeginForm("EditUser","Home",FormMethod.Post)){
    <label>Name:@Html.TextBoxFor(m=>m.Name)</label>
    @Html.AntiForgeryToken();
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "warning-message" })

    <br>
    <label>Password:@Html.PasswordFor(m=>m.Password)</label>
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "warning-message" })

    <br>
    <label>Email:@Html.TextBoxFor(m=>m.Email)</label>
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "warning-message" })

    <br>
    <label>Phone:@Html.TextBoxFor(m=>m.Phone)</label>
    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "warning-message" })

    <br>
    <input type="submit" />
}
