﻿@model Project.Models.FullProfile

<div>
    @Html.Partial("Profile",Model.user)
</div>

<div style="border:2px solid;">
    @foreach(var e in Model.appointments){
        @Html.Partial("Single",e);
    }
</div>
