﻿<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

<div style="display:inline;" class="left">
    @Html.Partial("LogIn")
    @Html.ActionLink("Forgot Password","RestorePassword","Home",null,new{@class="btn"})
</div>

<div style="display:inline;" class="right">
    @Html.Partial("SingIn")
</div>