﻿@model Project.Models.Creditials

<div>
    <h3>Log In</h3>
</div>

@using(Html.BeginForm("LogIn","Home",FormMethod.Post)){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "warning-message" })
    
    <label>Name: @Html.TextBoxFor(m=>m.Name)</label>
    <br>
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "warning-message" })
    <br>
    <label>Password: @Html.PasswordFor(m=>m.Password)</label>
    <br>
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "warning-message" })
    <br>
    <input type="submit" />

}
