﻿@model Project.Data.User

<div class="user-info">
    <h4>User:@Model.Name</h4>
    <h4>Email:@Model.Email</h4>
    <h4>Phone:@Model.Phone</h4>
</div>

@Html.ActionLink("Edit","UserEdit","Home",null,new{@class="btn edit-button user-option"})
@Html.ActionLink("Delete","DeleteUser","Home",null,new{@class="btn delete-button user-option"})
@Html.ActionLink("Appointments","Index","Appointment",null,new{@class="btn display-button"})