﻿@model Project.Data.Appointment

<div class="appointment" id="@Model.ID" style="border:solid 2px;">
    <label>Creator:@Model.UserId</label>
    <br>
    <label>Start Time:@Model.Start.ToString()</label>
    <br>
    <label>End Time:@Model.End.ToString()</label>
</div>