﻿@model Project.Data.User

<div>
    <h3>Sing In</h3>
</div>
@using(Html.BeginForm("SingIn","Home",FormMethod.Post)){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "warning-message" })
    
    <label>Name: @Html.TextBoxFor(m=>m.Name)</label>
    <br>
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "warning-message" })
    <br>

    <label>Password: @Html.PasswordFor(m=>m.Password)</label>
    <br>
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "warning-message" })
    <br>

    <label>Email: @Html.TextBoxFor(m=>m.Email)</label>
    <br>
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "warning-message" })
    <br>

    <label>Phone: @Html.TextBoxFor(m=>m.Phone)</label>
    <br>
    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "warning-message" })
    <br>

    <input type="submit" />
}
