﻿@model Project.Data.Activity



@using(Html.BeginForm("CreateActivity","Activity",FormMethod.Post)){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "warning-message" })

    <label>Name:</label>@Html.TextBoxFor(m=>m.Name);
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "warning-message" })
    <br>

    <label>Duration:</label>@Html.TextBoxFor(m => m.Duration, new { type = "number", min = "0", step = "0.01" })
    @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "warning-message" })
    <br>

    <label>Price:</label>@Html.TextBoxFor(m => m.Price, new { type = "number", min = "0", step = "0.01" })
    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "warning-message" })
    <br>

    <input type="submit"/>
}