﻿@model Project.Models.ReplaceActivity

@using(Html.BeginForm("EditActivity","Activity",FormMethod.Post)){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "warning-message" })
    @Html.HiddenFor(m=>m.OldId)

    <label>Name:</label>@Html.TextBoxFor(m=>m.NewActivity.Name)
    @Html.ValidationMessageFor(model => model.NewActivity.Name, "", new { @class = "warning-message" })
    <br>

    <label>Duration:</label>@Html.TextBoxFor(m => m.NewActivity.Duration, new { type = "number", min = "0", step = "0.01" })
    @Html.ValidationMessageFor(model => model.NewActivity.Duration, "", new { @class = "warning-message" })
    <br>

    <label>Price:</label>@Html.TextBoxFor(m => m.NewActivity.Price, new { type = "number", min = "0", step = "0.01" })
    @Html.ValidationMessageFor(model => model.NewActivity.Price, "", new { @class = "warning-message" })
    <br>

<input type="submit"/>
}
