﻿@model System.Collections.Generic.List<Project.Data.Activity>
<script src="/Scripts/script.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
<script>
    var dataBank=@Html.Raw(Json.Encode(Model));
    
    var table_spec={
        paging: true,
        searching: true,
        stateSave:true,
        select: true,
        "pagingType": "simple",
        "lengthMenu": [[2,5,10, 25, 50, -1], [2,5,10, 25, 50, "All"]],
        "pageLength": 5,
        data:dataBank,
        "columnDefs": [{
            "targets": 4,
            "visible": true,
            "data":null,
            "defaultContent":'@Html.ActionLink("Edit","EditActivity","Activity",null,new {@class="btn edit-button"})'
        },{
            "targets": 5,
            "visible": true,
            "data":null,
            "defaultContent":'@Html.ActionLink("Delete","DeleteActivity","Activity",null,new {@class="btn delete-button"})'
        },{
            "targets": 0,
            "visible": false,
            "data":"ID",
        }],
        columns:[
            //{data:"ID"},
            {data:"Name",title:"Name"},
            {data:"Duration",title:"Duration"},
            {data:"Price",title:"Price"}
        ]
    }

    var table={}

    function displayData(){    
        table=$("#activities-table").DataTable(table_spec);
        Init()
        $('#activities-table tbody').on( 'click', '.btn', function () {
            var data = table.row( $(this).parents('tr') ).data();
            this.href=(this.href+"?id="+data["ID"]);
        });
    }

    window.onload=displayData;
</script>

@Html.ActionLink("Create New","CreateActivity","Activity",null,new{@class="btn create-button user-option"})
<table id="activities-table" style="border:2px solid;cell-spacing:2px;">
    
</table>